<!-- about section -->
<div class="about">
    <div class="container">
       <div class="row d_flex">
          <div class="col-md-5">
             <div class="about_img">
                <figure><img src="/assets/images/about_img.png" alt="#"/></figure>
             </div>
          </div>
          <div class="col-md-7">
             <div class="titlepage">
                <h2>About Our Shop</h2>
                <p>Sunglass Hut is an international retailer of sunglasses and sunglass accessories founded in Miami, Florida, United States, in 1971. Sunglass Hut is part of the Italian-based Luxottica Group, the world's largest eyewear company.As of December 31, 2008, the Luxottica Group operated 2,286 stores around the world, most of those as part of the Sunglass Hut brand.
                  Sunglass Hut stores are located in India, the United States, Mexico, Canada, the Caribbean, Brazil, continental Europe, the United Kingdom, Australia, New Zealand, Hong Kong, Singapore, South Africa and the Middle East including Israel.
                </p>
             </div>
             
          </div>
       </div>
    </div>
 </div>
 <!-- about section -->
 <!--  footer -->
