 <!-- Our  Glasses section -->
      <div class="glasses">
         <div class="container">
            <div class="row">
               <div class="col-lg-4"></div>
               <div class="col-lg-8 ">
                  <input type="search" placeholder="search" class="form-control" #search (keyup)="onSearch(search)" name="" id="">
               </div>
            </div>
           
            <div class="row">
              
               <div class="col-md-10 offset-md-1">
                  <div class="titlepage">
                     <h2>Our Glasses</h2>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labor
                        e et dolore magna aliqua. Ut enim ad minim veniam, qui
                     </p>
                  </div>
               </div>
            </div>
         </div>
         <div class="container-fluid">
            <div class="row">
               <ng-container *ngIf="searchedGlasses.length != 0 then searchedBlock else elseBlock"> </ng-container>
                  <ng-template #searchedBlock>
                     <ng-container *ngFor="let prod of searchedGlasses">
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6" *ngIf="prod.status == true">
                           <div class="glasses_box">
                              <!-- <figure><img src="images/glass1.png" alt="#"/></figure> -->
                             
                               <figure><img src="{{image_path}}{{prod.image}}" style="max-width: 70%; height: 120px;"></figure>
                              
                              <h3><span class="blu">Rs.</span>{{prod.price}}</h3>
                              <p>{{prod.itemName}}</p>
                              <p> <a routerLink="/details/{{prod._id}}"><button class="btn btn-info">Details</button></a></p>
                                 
                           </div>
                        </div>
                        </ng-container>

                  </ng-template>
                  <ng-template #elseBlock>
                     <ng-container *ngFor="let prod of userDetails">
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6" *ngIf="prod.status == true">
                           <div class="glasses_box">
                              <!-- <figure><img src="images/glass1.png" alt="#"/></figure> -->
                             
                               <figure><img src="{{image_path}}{{prod.image}}" style="max-width: 70%; height: 120px;"></figure>
                              
                              <h3><span class="blu">Rs.</span>{{prod.price}}</h3>
                              <p>{{prod.itemName}}</p>
                              <p> <a routerLink="/details/{{prod._id}}"><button class="btn btn-info">Details</button></a></p>
                                 
                           </div>
                        </div>
                        </ng-container>

                  </ng-template>
              
               
               
               <div class="col-md-12" style="margin-bottom: 25px">
                  <a class="read_more" href="#">Read More</a>
               </div>
            </div>
         </div>
      </div>
      <!-- end Our  Glasses section -->